@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="clientProfile">
</div>
<div id="servicesMenu">
</div>

<h1>Fancy Spa</h1>
<div id="clientProfile">
    <h3>Client Profile</h3>
    <p>@ViewBag.name</p>
</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    <p>Skin Type: @ViewBag.skintype</p>
    
    <ul>
        @foreach(string facial in ViewBag.aptFacials)
        {
            <li>@facial</li>
        }


    </ul>

    <h5>Nail Services</h5>
    @if (ViewBag.manipedi == "manicure")
    { <p>Our manicure is a great way to spend your day!</p> }
    else if (ViewBag.manipedi == "pedicure")
    { <p>Get your feet in shape for sandal season!!</p> }
    else { <p>Get the total luxury treatment with both a manicure and a pedicure!!</p>}

</div>
